.home-container{
  display: flex;
  flex-direction: column;
}
.header{
  width: 100%;
  height: 60px;
  background-color: blue;
}
.message-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 30px;

}
.message-content{
  width: 70%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}
.message{
  width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 15px;
    margin: 10px;
   border: 1px solid #afafaf;
   border-radius: 10px;

}
.message-inner-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.message-sender{
  text-align: left;
  font-weight: bold;
}
.message-text
{
  display: inline-block;
  width: 100%;
  color: #666666;
  font-size: 18px;
  text-align: left;
}
.message-time{
   display: inline-block;
    width: 30%;
    color: #666666;
    font-size: 14px;
    text-align: right;
}
.avatar{
  width: 48px;
  height: 48px;
}
.new-message{
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.new-message-inner{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.new-message-icon{
  width: 60px;
  height: 60px;  
}
.message-popup{
  position: fixed;
  bottom: 20px;
  left: 20px;
  right: 20px;
  height: 200px;
  padding: 6px;
  background-color: rgb(199, 199, 250);
  border: 1px solid #aaaaaa;
  border-radius: 10px;
}
.textarea{
  width: 90%;
  height: 80%;
  border: none;
  padding: 6px;
  outline: none;
  font-size: 16px;
  background-color: transparent;
  overflow-y: hidden;
}
.close-button{
  position: absolute;
  top: 10px;
  right: 12px;
}
.close-icon{
  width: 16px;
  height: 16px;
}
.send-button{
  position: absolute;
  bottom: 12px;
  right: 12px;
  background-color: rgb(199, 199, 250);
 border: none;
}
.send-icon{
  width: 50px;
  height: 50px;
}
.loader-container{
  position: absolute;
  height: 200px;
  top: 0px;
  left: 0px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid blue; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}